<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
        <li><h1>Trabajo 1</h1> - <h3>Years</h3></li>
        <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
         Veritatis nesciunt officia laudantium vel fugit? Culpa dolore tenetur maxime repellat doloremque ut dolores? 
         Suscipit harum aspernatur maiores nobis nisi maxime unde!
         </p>
         </ul>

    <ul>
        <li><h1>Trabajo 2</h1> - <h3>Years</h3></li>
        <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
         Veritatis nesciunt officia laudantium vel fugit? Culpa dolore tenetur maxime repellat doloremque ut dolores? 
         Suscipit harum aspernatur maiores nobis nisi maxime unde!
         </p>
    </ul>

            <ul>
              <li><h1>Trabajo 3</h1> - <h3>Years</h3></li>
              <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Veritatis nesciunt officia laudantium vel fugit? Culpa dolore tenetur maxime repellat doloremque ut dolores? 
               Suscipit harum aspernatur maiores nobis nisi maxime unde!
               </p>
           </ul>
    
    </div>


  


</div>
